Source: validators
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Harley Swick <fancycade@protonmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools, python3-pytest, python3-decorator
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/kvesteri/validators
Vcs-Browser: https://salsa.debian.org/python-team/packages/validators
Vcs-Git: https://salsa.debian.org/python-team/packages/validators.git
Testsuite: autopkgtest-pkg-python

Package: python3-validators
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Python Data Validation for Humans (Python 3)
 Python has all kinds of data validation tools, but every one of them
 seems to require defining a schema or form. The author wanted to
 create a simple validation library where validating a simple value
 does not require defining a form or a schema.
